h1 {
    font-family: sans-serif;
    font-family: sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #eb3c3c;
    font-size: 40px;
    margin-top: 36px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(35, 66, 250);
    margin-left: 36px;
}

a, a:visited, a:active {
    color: rgb(36, 42, 112);
}

a:hover {
    text-decoration: none;
}